*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.shadows{
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: #fff;
    user-select: none;
    letter-spacing: -0.05em;
    font-family: 'Anton',Arial,sans-serif;
    font-size: 150px;
    transition: all 0.25s ease-out;
}
.shadows:hover{
    text-shadow: -16px 6px 15px #ced0d3;
}